<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title>List of users</title>
</head>
<body>

<ul>

    <li th:each="wikiuser : ${users}">
        <p th:text="${wikiuser.login}"></p>
        <!--        <p th:text="${article.content}"></p>-->
    </li>
</ul>

<!--<form action="#" th:action="@{/addcategory}" th:object="${category}" method="post">-->
<!--    <label for="name">Category:</label>-->
<!--    <input type="text" id="name" th:field="*{categoryName}" required/>-->
<!--    <br>-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->

</body>

</html>
